@section script{
    <script>

        $('#tt').tree({
            url: '/Json/tree_data.json',
            method: "get",
            animate: true,
            lines: true
        });
    </script>
}
@section style{
    <style>
    </style>
}
<div id="layout" class="easyui-layout" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;">
    <div data-options="region:'north'" style="height:64px;"></div>
    <div data-options="region:'west',title:'导航栏'" style="width:256px;">
        <ul id="tt" class="easyui-tree" style="width:100%;height:100%;"></ul>
    </div>
    <div data-options="region:'center'" style="padding:0px;background:#eee;">
    </div>
</div>