<div id="layout" class="easyui-layout" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;">
    <div data-options="region:'north'" style="height:64px;"></div>
    <div data-options="region:'west',title:'导航栏'" style="width:256px;"></div>
    <div data-options="region:'center'" style="padding:5px;background:#eee;"></div>
</div>