<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Content/themes/icon.css">
    <script type="text/javascript" src="/Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.easyui-1.4.5.min.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("script", false)
    @RenderSection("style", false)
</body>
</html>